<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
                                   initial-scale=1.0"
    />
    <title>Home</title>
  </head>
  <body>
    <h1>G00425385</h1>
    <!-- Navigation Links -->
    <nav>
      <!-- Students Page Link -->
      <a href="/students">Students</a><br />
      <!-- Grades Page Link -->
      <a href="/grades">Grades</a><br />
      <!-- Lecturers Page Link -->
      <a href="/lecturers">Lecturers</a><br />
    </nav>
  </body>
</html>
