<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
                                   initial-scale=1.0"
    />
    <title>Students</title>
  </head>
  <body>
    <h1>Students</h1>
    <nav>
      <a href="/">Add Student</a><br />
      <a href="/">Home</a><br />
    </nav>
  </body>
</html>
